.content{
    margin: 0;
    padding: 0;
    background: url(loginBg.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-color:#def9d7;
    height: calc(100vh - 120px);
    display: flex;
}

.loginbox{
    width: 320px;
    height: 420px;
    background: rgb(00,68,37);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.GymLogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
   
}

.loginbox input[type="text"],input[type="password"]{
   border: none;
   background: transparent;
   outline: none;
   height: 30px;
   border: none;
   background-color:#def9d7;
   color:  rgb(00,68,37);
   margin-top: 7px;
   border-radius: 8px;
   font-weight: bold;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #FF9F29;
    font-size: 18px;
    border-radius: 20px;  
    font-weight: bold; 
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #FF2C10;
    color: #fff;
    font-weight: bold;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.loginbox a:hover{
    color: #def9d7;
}

.content-right{
    float: left; 
    width: 60%;
}

.content-left{
    float: left; 
    width: 40%;
    padding-left: 50px;
    margin: auto; /*center images horizontally*/
}

