.content{
    flex-direction: column;
}

.row-one{
    height: 60%;
    display: flex;
    flex-direction: row;
}

.column-one{
    width: 50%;
    float: left;
    background-color: #F6FBF4;
}

.column-two{
    width: 50%;
    float: left;
}

.contactus-image{
    float: right;
    width: 100%;
    height: 100%;
}

.heading{
    padding: 20px 10px 20px 90px;
    font-size: 40px;
    color: #006837;
}

.text{
    padding: 0px 10px 20px 90px;
    font-size: 20px;
    color: #006837; 
    padding-right: 100px;
}

.row-two{
    height: 40%;
    background-color: #DEF9D7;
    display: flex;
    flex-direction: column;
}

.section-two{
    height: 15%; 
    display: flex; 
    flex-direction: row;
}

.section-one{
    height: 50%; 
    display: flex; 
    flex-direction: row;
}

.section-three{
    height: 10%; 
    display: flex; 
    flex-direction: row;
}

.division{
    width: 33.3%;
    color: #006837;
    text-align: center;
}

.row-two-image{
    width: 20%;
    height: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.row-two p{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

