.content{
    height: calc(100vh - 120px);
    background-color: #F6FBF4;
    display: flex;
    flex-direction: row;
}

.content-right{
    float: left; 
    width: 60%;
}


.content-left{
    float: left; 
    width: 40%;
    padding-left: 50px;
    margin: auto; /*center images horizontally*/
}

.content  input[type=button]{ 
    padding: 10px 25px 10px 25px;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
    border: #006837;
    background-color: #006837;
    font-size: 16px;
}

.content-left > hr{
    border: 5px solid #006837;
    color: #006837;
}

.home-image-photo{
    width: 70%;
    height: calc(100vh - 80px);
    float: right;
}
