.row{
    height:35%; 
    text-align:center; 
    color:black; 
    position: relative;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: white;
    color: #006837;
    border: 2px solid #006837;
}

.topic{
    border:1px solid #DEF9D7; 
    padding:30px; 
    background-color:rgba(223, 249, 215, 0.7); 
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 94%; 
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}


button{
    background-color: #FF9F29;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: #FF9F29 solid 2px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}


button:active {
    transform: scale(0.95);
}

button:disabled {
    background-color: grey;
    border-color: grey;
    cursor: default;
}

.content{
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e7e8 11px ), repeating-linear-gradient( #b3d8aa55, #b3d8aa );
}

.row2{
    display: flex;
    flex-direction: row;
    margin: 25px;
    font-size: 18px;
    color: #006837;
}

table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
}

th{
    background-color: white;
    border-top: 2px solid rgb(132, 128, 128);
    border-bottom: 2px solid rgb(132, 128, 128);
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr{
   background-color: #DEF9D7;
}

td{
    padding:7px;
    text-align: center;
}

/*top left and bottom left*/
td:first-child,
td:first-child {
  border-radius: 10px 0 0 10px;
}


td:last-child,
td:last-child {
  border-radius: 0 10px 10px 0;
}

#availableSlots {
    width: 100%;
}

