.chatContent{
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
}

.topContactBar{ 
    width: 100%;
    height: 40px;
    display: block;
    background-color: white;
    padding: 20px;
}

.selectedMemberProfile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: -15px;
    margin-left: 20px;
}

.selectedMemberName{
    margin-top: -50px;
    margin-left: 120px;
}

.chatHistory{
    width: 100%;
    height: calc(100% - 40px - 150px);
    background-color: rgba(222, 249, 215, 1);
    overflow-y: auto;
}

.chatArea{
    margin-left: 50px;
    margin-right: 50px;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.message {
	border-radius: 6%;
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 30px;
}

.day{
    padding: 0px 20px 0px 20px;
    background-color: none;
    color: black;
    border-radius: 6%;
	position: relative;
	margin-bottom: 30px;
    margin: auto;
}

.message.leftMessage {
	padding: 0px 20px 0px 20px;
    background-color: rgba(0, 104, 55, 1);
    color: white;
}

.message.leftMessage .time{
    position: absolute;
    display: block;
    left: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 500;
    color: black;
}

.message.rightMessage {
	align-self: flex-end;
	padding: 0px 20px 0px 20px;
    background-color: white;
}

.message.rightMessage .time{
    position: absolute;
    display: block;
    right: 0;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 500;
    color: black;
}

.replyBar{
    width: 100%;
    height: 80px;
    display: block;
    bottom: 0px;
    background-color: rgba(222, 249, 215, 1);
    padding: 20px;
}

.sendingMessage{
    left: 0px;
    height: 50px;
    width: 1100px;
    float: left;
    border: none;
    padding-left: 20px;
    background-color: white;
    margin: 10px;
    vertical-align: middle;
}

.sendingMessage:focus{
    outline: none;
    border: none;
}

.sendBtn{
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: 0px;
    background-color: rgba(255, 159, 41, 1);
    vertical-align: middle;
    border: 1px solid rgba(26, 79, 131, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.sendBtn:active {
    background-color: rgba(255, 159, 41, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}