.row{
    display: flex;
    flex-direction: row;
    background-color: #DEF9D7;
    width: 60%;
    margin: 2%;
    height: 30%;
    border-radius: 10px;
    justify-content: space-between;
    margin-left: 20%;
    border: 1px solid #006837;
}

.sub-content{
    background-color: whitesmoke;
    margin: 2%;
    border: 1px solid #006837;
    width: 50%;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #006837;
    font-weight: bold;
    justify-content: center;
}

.sub-content p, button{
    margin-top: 10px;
}


button {
    padding: 10px 25px;
    border: 1px solid #FF9F29;
    border-radius: 5px 5px 5px 5px;
    background-color: #FF9F29;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.middle-r{
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;
    color: #006837;
    margin-top: 40px;
}

table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
    padding-left: 20px;
    padding-right: 20px;
}

th{
    background-color: white;
    border-top: 2px solid rgb(132, 128, 128);
    border-bottom: 2px solid rgb(132, 128, 128);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

table tr{
   background-color: #DEF9D7;
}

td{
    padding:7px;
    text-align: center;
}

/*top left and bottom left*/
td:first-child,
td:first-child {
  border-radius: 10px 0 0 10px;
}


td:last-child,
td:last-child {
  border-radius: 0 10px 10px 0;
}

.bottom-r{
    font-weight: bold;
    font-size: 15px;
    color: #006837;
    margin-top: 10px;
}