.row{
    display: flex;
    flex-direction: row;
    margin: 25px;
    font-size: 18px;
    color: #006837;

}

/* Add styles to the form container */
.form-container {
    width: 70vh;
    height: 30vh;
    padding: 5px;
    border: black solid 1px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    color: #006837;
    background-color: #b3d8aa;
    margin: 5px;
} 

.form-container-02 {
    width: 70vh;
    height: 10vh;
    padding: 5px;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
} 

.no-supplement-p {
    font-size: 18px;
    color: #006837;
    text-align: center;
    margin-top: 15px;
}

.no-supplement{
    float: right;
    margin-top: 2px;
}


.form-sub{
    float:left;
    width: 50%;
    margin: 10px;
}

.form-sub h3 {
    font-size: 24px;
    margin-top: 5px;
    text-align: center;
}

.close {
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 0;
}


.form-sub p {
    font-size: 16px;
    margin-bottom: 0;
}

.form-sub img {
    display: block;
    margin: 0 auto;
    background-color: #006837;
    margin: 2px;
}

/*position of edit pic*/
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: white;
}

.content{
    background-color: #e5e7e8;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e7e8 11px ), repeating-linear-gradient( #b3d8aa55, #b3d8aa );
}
table{
    width: 100%;
    border-collapse:separate;
    border-spacing:0 15px;
    font-size: 16px;
    table-layout: fixed;
}

th{
    background-color: white;
    border-top: 2px solid rgb(132, 128, 128);
    border-bottom: 2px solid rgb(132, 128, 128);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; 
}

tr{
   background-color: #DEF9D7;
}

td{
    padding:7px;
    text-align: center;
    width: 25%;
    font-size: 14px;
    border: 2px solid white; 
}

/*top left and bottom left*/
td:first-child,
td:first-child {
  border-radius: 10px 0 0 10px;
}


td:last-child,
td:last-child {
  border-radius: 0 10px 10px 0;
}

#bar {
    width: 100%;
    height: 40px;
    border: 2px solid black;
}
  
#progress {
    background-color: #FF9F29;
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
  
#percentage {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translateX(-50%);
    font-size: 16px;
}

button{
    background-color: #FF9F29;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    border: #FF9F29 solid 2px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button[disabled] {
    background-color: grey;
    color: white;
    cursor: default;
    border: grey 1px solid;
}
  
