@import url(https://fonts.google.com/specimen/Inter);

.container {
    width: 100%;
    height: 100%;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.topBar {
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgba(222, 249, 215, 1);
    box-shadow: 0px 5px 20px rgba(26, 79, 131, 0.05);
    left: 0%;
    right: 0%;
    top: 0%;
}

.gymLogo {
    position: absolute;
    left: 2.85%;
    top: 8%;
    width: 50px;
    height: 50px;
}

.gymName {
    position: absolute;
    left: 7.29%;
    top: -5%;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: rgba(0, 104, 55, 1);
    align-content: center;
}

.myProfile {
    width: 40px;
    height: 40px;
    left: 1390px;
    top: 15px;
    position: absolute;
    border-radius: 50%;
}

.leftBar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0%;
    top: 70px;
    background-color: rgba(0, 104, 55, 1);
    align-items: center;
}

.leftBarContent {
    position: absolute;
    width: 225px;
    left: 10px;
    top: 30px;
    text-align: left;
}

.leftBarContent a {
    display: block;
    color: white;
    /*padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;*/
    padding: 16px;
    text-decoration: none;
    margin: 5px;
}

.leftBarContent a:hover,
.leftBarContent a.active {
    background-color: white;
    color: rgba(0, 104, 55, 1);
    border-radius: 25px;
    cursor: pointer;
}

.leftBarContent hr {
    border: 0.5px solid white;
}

/*
.tab {
    width: 190px;
    height: 17px;
    position: absolute;
    left: -35px;
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    color: white;
    background-color: rgba(0, 104, 55, 1);
    cursor: pointer;
}

.tab :hover {
    background-color: rgba(255, 253, 253, 1);
    color: rgba(0, 104, 55, 1);
    border-radius: 25px;
    text-align: center;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 30px;
}

.leftBarContent li {
    margin-bottom: 35px;
}
*/
.leftBarContent i {
    font-size: 20px;
    margin-right: 10px;
}

.contactList {
    width: 290px;
    height: calc(100% - 70px);
    position: absolute;
    left: 250px;
    top: 70px;
    overflow-y: auto;
    overflow-x: hidden;
}

.contactTab {
    height: 70px;
    border-bottom: 1px solid rgba(246, 251, 244, 1);
    background-color: rgba(205, 220, 212, 0.5);
    position: relative;
}

.contactTab:hover,
.contactTab .active {
    cursor: pointer;
    background-color: rgba(246, 251, 244, 1);
}

.contactProfile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px;
    float: left;
}

.contactTab p {
    padding: 0px 0px 0px 70px;
    text-align: left;
    width: 220px;
    position: absolute;
}

.contactTab p strong {
    font-weight: 600;
    font-size: 15px;
    color: rgba(0, 0, 0, 1);
}

.contactTab p span {
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

.contactTab .timeAndDate {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 15px;
    right: 13px;
    font-size: 11px;
    font-weight: 400;
    color: black;
}

.contactTab .newMassages {
    background: rgba(241, 224, 172, 1);
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 30px;
    right: 17px;
    padding-top: 3px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 1px;
    background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: none;
}

.messageArea {
    width: calc(100% - 250px - 290px);
    height: calc(100% - 70px);
    left: calc(250px + 290px);
    top: 70px;
    position: absolute;
}