.notificationBtn {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    color: #000000;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .notificationBtn:hover {
    background-color: #dddddd;
  }
  
  .notiContent {
    display: none;
    position: fixed;
    top: 60px;
    right: 30px;
    width: 400px;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .notiContainer {
    padding: 20px;
  }
  
  .notifiContent hr {
    border: none;
    border-top: 1px solid #dddddd;
  }
  
  .notifiContent table {
    width: 100%;
  }
  
  .notifiContent td {
    padding: 10px;
    vertical-align: top;
  }
  
  .notifiContent .message p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
  }
  
  .notifiContent .time p {
    margin: 0;
    font-size: 14px;
    color: #777777;
  }
  
  .notifiContent .read a {
    color: #777777;
    font-size: 14px;
    text-decoration: none;
  }
  
  .notifiContent .read a:hover {
    text-decoration: underline;
  }