@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
}

/* LEFT SIDE NAVBAR */

nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #006837;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1.5rem;
  gap: 2rem;
}

.main-sidebar img {
  margin: 0 auto;
  width: 70px;
  height: fit-content;
}

.navbar-items ul {
  display: flex;
  flex-direction: column;
}

.navbar-items ul li {
  border-top: 1px solid white;
  padding: 0.4rem;
}

.navbar-items ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding: 0.4rem;
}

.navbar-items ul li a {
  display: flex;
  align-items: center;
}

.navbar-items #nav-logout {
  border-bottom: 1px solid white;
}

.navbar-items ul li a:hover {
  background-color: white;
  color: #006837;
  border-radius: 20px;
}

/* TOP NAVBAR */

.top-navbar {
  position: fixed;
  top: 0;
  left: 220px;
  width: calc(100% - 220px);
  background-color: #def9d7;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  align-items: center;
  z-index: 1;
}

.top-search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  height: fit-content;
  padding-left: 0.8rem;
  padding-right: 4.5rem;
  border-radius: 20px;
}

.top-search-bar input {
  border: none;
  padding: 0.6rem;
}

.topbar-right {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.settings-right{
  margin-left: 60rem;
}

.topbar-notification {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  justify-content: center;
  right: 100px;
  position: absolute;
}

.profilePic{
  right: 31px;
  top: 8px;
  position: absolute;
}

.topbar-right img {
  width: 45px;
}

/* MAIN CONTENT CONTAINER*/

.main-content-container {
  position: relative;
  left: 220px;
  top: 60px;
  width: calc(100% - 220px);
  height: calc(100% - 60px);
  padding: 2rem;
}

/* MEMBERS LIST PAGE CONTENT*/

.members-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.member-list-top h1 {
  font-size: 25px;
  color: #006837;
}

.member-list-top {
  display: flex;
  padding: 0 1rem;
  justify-content: space-between;
}

.member-list-top a {
  width: 15%;
  color: white;
  background-color: #006837;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.member-list-table {
  height: 68vh;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
}

.member-list-table table img {
  width: 35px;
}

.member-list-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: rgba(26, 79, 131, 0.75);
}

.member-list-table table th {
  position: sticky;
  top: 0;
  background: linear-gradient(
      0deg,
      rgba(246, 251, 244, 0.5),
      rgba(246, 251, 244, 0.5)
    ),
    #def9d7;
  padding: 0.8rem;
}

.member-list-table table td {
  padding: 0.4rem;
  background-color: #def9d7;
}

/*ADD MEMBERS PAGE*/
.add-members-container {
  justify-content: center;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  position: relative;
}

.add-members-container h1 {
  color: #006837;
  font-size: 24px;
  margin: auto;
}

.add-members-container form {
  padding: 2rem;
  padding-bottom: 1rem;
  margin: auto;
  width: 100%;
  background-color: #def9d7;
  border-radius: 10px;
}

.add-members-container form ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-members-container form ul li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: #006837;
  padding: 1.5rem 0.5rem 2rem 0.5rem;
}

.add-members-container form input {
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
}

.add-members-container .member-gender {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-members-container .member-plan {
  gap: 1rem;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.add-members-container #contact {
  width: 50%;
}

.add-members-container .member-plan input {
  width: 100%;
}

#form-submit-btn {
  width: 40%;
  margin: auto;
  border: none;
  color: white;
  background-color: #006837;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

.add-members-container form button:hover,
.member-list-top a:hover {
  background-color: #033d22;
}

.add-members-container form label {
  font-weight: 600;
}

.add-members-container .details-box {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.add-members-container .details-box div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#workout-form-top {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2.5rem;
}

#workout-form-top #periods-box {
  width: 25%;
}

.member-plan {
  display: flex;
  flex-direction: row;
}

.add-btn {
  width: fit-content;
  background-color: #006837;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.add-members-container #details {
  resize: none;
  border: none;
  border-radius: 3px;
  padding: 0.7rem;
  margin-top: 0.3rem;
}

#workout-view-btn {
  background-color: #033d22;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
}

#form-delete-btn {
  display: flex;
}

#form-delete-btn h1 {
  margin: auto;
}

#form-delete-btn a {
  background-color: rgb(152, 0, 0);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: white;
}

.details-box {
  position: relative;
}

.details-box .exercise-left-side div {
  width: 100%;
}

.details-box .exercise-left-side {
  gap: 20px;
}

.details-box .exercise-left-side .exercise_set {
  gap: 15px;
  width: 70%;
}

.details-box .exercise-left-side .days-dropdown {
  width: 70%;
}

.details-box .exercise-right-side {
  gap: 15px;
  position: relative;
}

.details-box {
  border-bottom: 1px solid green;
  position: relative;
}

.add-btn.add-day {
  position: absolute;
  right: 0;
  bottom: 0;
}

.details-box .day-header {
  position: absolute;
  left: 0;
  top: 0;
}

#workout-form-top #memberName {
  padding: 0.3rem 0.6rem;
  border: 0;
}

.workoutplan-delete-btn {
  background-color: rgb(152, 0, 0);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  color: white;
  width: fit-content;
  margin: auto;
}

.workoutplan-delete-btn a {
  color: white;
}

#profileCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#settings-profile-image {
  width: 130px;
  object-fit: cover;
  height: 130px;
  border-radius: 50%;
  margin: auto;
}

#settings-edit-btn {
  width: 200px;
  margin: auto;
  border: none;
  color: white;
  background-color: #0baa60;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

#settings-content {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.settings-main-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

#settings-update-btn {
  width: 200px;
  margin: auto;
  border: none;
  color: white;
  background-color: #006837;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
}

#settings-main-form {
  display: flex;
  flex-direction: column;
}

#settings-main-form input {
  margin-top: 5px;
  padding: 5px;
}

#settings-main-form table td {
  padding-top: 15px;
}

#settings-main-form table textarea {
  padding: 10px;
}

#workout-form-top #add-workout-top-div {
  position: relative;
  width: 100%;
}

#workout-form-top #add-workout-top-div p {
  position: absolute;
  right: 10px;
  top: 0;
}

#workout-form-top #add-workout-top-div #startDate {
  background-color: #006837;
  padding: 0.5rem;
  color: white;
}

#workout-form-top #add-workout-top-div select {
  padding: 5px 10px;
}

#settings-change-pwd {
  background-color: #006837;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

#profile-photo-style{
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  height:40px;
  border: 1px solid #033d22;
}

::-webkit-scrollbar{
  width: 0px;
}

::-webkit-scrollbar-track{
  border-radius: 0px;
}

::-webkit-scrollbar-thumb{
  background-color: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background-color: none;
}