
.profileBody{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #ffff;
}

.pLeft{
   background-color: #ffff;
   width: 35%;
   height: 100%;
}

.pRight{
    background-color:white;
    height: 100%;
    width: 65%;
}

.box{
    width: 80%;
    height: 35%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 40px;
    margin-left: 43px;
    border-radius: 15px;
    background-color: #DEF9D7;
}
.profile-image {
    width: 120px;
    height: 120px;
    overflow: hidden;
    padding-top: 20px;
    padding-left: 110px;
  }
  
  .profile-image img {
    width: 100%;
  }
  
  .rounded-circle {
    border-radius: 50%;
  }

  .admin{
    font-size: 19px;
    font-weight: bold;
    color: #006837;
    text-align: center;
    padding-top: 7px;
  }
  
   a button{
     background-color: #FF9F29;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     color: white;
     height: 35px;
     width: 100px;
  }

  .edit{
    text-align: center;
    margin: 30px;
  }

  a button:hover{
    background-color: #006837;
  }