
table{
    width: 98%;
    border-collapse:separate;
    border-spacing:0 15px;
    margin-left: 10px;
}

th{
   
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr{
   background-color: #DEF9D7;
}

table tr:hover{
    background-color:  #006837;
    color: #ffff;
}

td{
    padding:7px;
    text-align: center;
}


td:first-child,
td:first-child {
  border-radius: 10px 0 0 10px;
}


td:last-child,
td:last-child {
  border-radius: 0 10px 10px 0;
}

button{
    background-color: #FF9F29;
    border: none;
    margin-left: 13px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 200px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
}
button:hover {
    background-color: #006837;
}

.button1{
    background-color: #EB5757;
    border: none;
    margin-left: 13px;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    width: 120px;
    font-size: 17px;
    border-radius: 5px;
    color: white;
    margin-top: 1px;
  }

  .button1:hover{
    background-color: #DEF9D7;
    color: #006837;
  }

  .button2:hover{
    background-color: #DEF9D7;
    color: #006837;
  }
